*{
    font-family: 'Nunito Sans', sans-serif;
   
    box-sizing: border-box;
    margin: 0px;
    padding: 0px; 
}
#navbarSupportedContent ul>li{
    position: relative;
    margin-left: 90px;
    width: 100%;
    
    

}
#entity{
    position: relative;
    font-size:  58px; 
}
#a{
    position: relative;
   
    font-size:  28px; 
    color: #000;
}

#cord{
   
    font-size:  28px; 
    color: #CE0033;
}
.image-container{
    width: 100%;
}
.text-container{
    width: 100%;
}


#para{
font-size: 28px;
color: #000;

}

#bouton{
    font-size: 18px;
    background-color: #CE0033;
    width:168px;
    height:47px;
    border-radius: 20px;
    }

#imgone{
    position: relative;
    width:500px;
    height:500px;
    border-radius: 20px;
    }

#im1{
        position: relative;
        width:500px;
        height:500px;
        border-radius: 20px;
    }
    
#prod{
    font-size:  28px; 
    color: #CE0033;
}
#paragra{
    font-size: 28px;
    color: #000;
    
}
#bn{
    font-size: 18px;
    background-color: #CE0033;
    width:168px;
    height:47px;
    border-radius: 20px;
    }

  #icons >a >i{
      position: relative;
    width: 50px;
  }

  #lien >a{
    color: white;
  
}
#lion >p{
    color: white;
  
}
#footerfoot{
    
display: flex;
    
}


    
