*{
    font-family: 'Nunito Sans', sans-serif;
   
    
  
    
}
#navbarSupportedContent ul>li{border: solid;
    position: relative;
    margin-left: 90px;
    width: 100%;
    
    

}


#entity{
    position: relative;
    font-size:  58px; 
}
#a{
    position: relative;
   
    font-size:  28px; 
    color: #000;
}

#cord{
   
    font-size:  28px; 
    color: #CE0033;
}
.image-container{
    width: 100%;
}
.text-container{
    width: 100%;
}


#para{
font-size: 28px;
color: #000;

}

#bouton{
    font-size: 18px;
    background-color: #CE0033;
    width:168px;
    height:47px;
    border-radius: 20px;
    }

#imgone{
    position: relative;
    width:500px;
    height:520px;
    box-shadow: 10px -7px #CE0033 ;
   border-radius: 20px;
    }

#im1{
        position: relative;
        width:500px;
        height:520px;
        box-shadow: 10px -7px #CE0033 ;
        border-radius: 20px;
    }
    
#prod{
    font-size:  28px; 
    color: #CE0033;
}
#paragra{
    font-size: 28px;
    color: #000;
    
}
#bn{
    font-size: 18px;
    background-color: #CE0033;
    width:168px;
    height:47px;
    border-radius: 20px;
    }

  #icons >a >i{
      position: relative;
    width: 50px;
  }

  #lien >a{
    color: white;
  
}
#lion >p{
    color: white;
  
}
#footerfoot{
    
display: flex;
    
}


.nav-link text-body{
    width: 50px;
    
}
.active-link{
    color: #ce0033 ;
    border-bottom: 3px solid #CE0033;

}




@media screen and (max-width: 984px) {
    .active-link{
        color: #ce0033 ;
        border-bottom: 3px solid #CE0033;
        width: 50px;
    
    }

  
    
    }

    @media screen and (max-width: 753px) {
        #im1{
        position: relative;
        width:400px;
        height:520px;
        box-shadow: 10px;
        border-radius: 20px;
        left: 20px;
        }

        #imgone{
            position: relative;
            width:400px;
            height:520px;
           box-shadow: 10px;
           border-radius: 20px;
            }

            

            
        }
        @media screen and (max-width:354px) {
            #im1{
                position: relative;
                width:300px;
                height:330px;
                box-shadow: 10px;
                border-radius: 20px;
                left: 20px;
                }

                #imgone{
                    position: relative;
                    width:300px;
                    height:330px;
                   box-shadow: 10px;
                   border-radius: 20px;
                    }
            
            }

            
                @media only screen and (min-width: 768px) {
                    #imgF{
                        position: relative;
                        left: -40px;

                } 
             
            }
            
            
         
      
        